<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <style>
    
        header, footer {
            width: 100%;
            background-color: #331280;
            padding:30px;
        }
 
       body {
      font-family: Arial, sans-serif;
      background: #1e1e1e;
      color: #fff;
    }

    form {
      width: 320px;
      margin: 50px auto;
      background: #2a2a2a;
      padding: 20px;
      border-radius: 8px;
    }

    h2 {
      text-align: center;
    }

    input, select, button {
      width: 300px;
      padding: 8px;
      margin-bottom: 12px;
      border-radius: 4px;
      border: none;
    }

    button {
      background: #6c63ff;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
    }
  </style>
</head>
<header>
    <h1>Formulário de Cadastro</h1>
</header>
<body>
    {{{body}}}
    <footer>
        <p>© 2025 Projeto de Web2 - Jéssica Steffany</p>
    </footer>
</body>
</html>